.container {
    max-width: 80%;
  }
  table td {
    width: calc(100% / 8);
  }
  select[name='aanwezigheid'], input[name='reden_afwezigheid'], input[name='code'] {
    width: 75%;
  }

  .more-info {
    text-align: right;
  }