<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Toevoegen les</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Docent Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="/docent_dashboard">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/docent/lessen">Lessen</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/docent/lessen/toevoegen">Toevoegen Les</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/docent/lessen/code">Code les generen</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/admin">CRUD PANEEL</a>
			</li>
		  </ul>
		</div>  
	  </nav>
    <h1></h1>
	<h1></h1>
	<div class="container">
		<h2><b>Toevoegen les</b></h2>
		<form action="/add_les" method="POST">
			<div class="form-group">
				<label for="vak">Vak:</label>
				<input type="text" class="form-control" id="vak" name="vak" required>
			</div>
			<div class="form-group">
				<label for="datum">Datum:</label>
				<input type="date" class="form-control" id="datum" name="datum" required>
			</div>
			<div class="form-group">
				<label for="starttijd">Starttijd:</label>
				<input type="time" class="form-control" id="starttijd" name="starttijd" required>
			</div>
			<div class="form-group">
				<label for="eindtijd">Eindtijd:</label>
				<input type="time" class="form-control" id="eindtijd" name="eindtijd" required>
			</div>
			<div class="form-group">
				<label for="docent_id">Docent ID:</label>
				<input type="text" class="form-control" id="docent_id" name="docent_id" required>
			</div>
			<div class="form-group">
				<label for="klas_id">Klas:</label>
				<select class="form-control" id="klas_id" name="klas_id" required>
					{% for klas in klassen %}
					<option value="{{ klas[0] }}">{{ klas[1] }}</option>
					{% endfor %}
				</select>
			</div>	
			<button type="submit" class="btn btn-primary">Toevoegen</button>
		</form>
		
	</div>
</body>
</html>
