<!DOCTYPE html>
<html>
  <head>
    <title>Edit Docent</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Docent Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <david-nav-bar(url, "Home")></david-nav-bar>

            <li class="nav-item-new">
              <a class="nav-link" href="/docent_dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docent/lessen">Lessen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docent/lessen/toevoegen">Toevoegen Les</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docent/lessen/code">Code les generen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">CRUD PANEEL</a>
            </li>
          </ul>
        </div>
      </nav>
      &nbsp;
      &nbsp;
    <div class="container">
      <h1>Edit Docent</h1>
      <form action="{{ url_for('edit_docent', docent_id=docent[0]) }}" method="post">
        <div class="form-group">
          <label for="naam">Naam</label>
          <input type="text" class="form-control" id="naam" name="naam" value="{{ docent[1] }}" required>
        </div>
        <div class="form-group">
          <label for="gebruikersnaam">Gebruikersnaam</label>
          <input type="text" class="form-control" id="gebruikersnaam" name="gebruikersnaam" value="{{ docent[2] }}" required>
        </div>
        <div class="form-group">
          <label for="wachtwoord">Wachtwoord</label>
          <input type="password" class="form-control" id="wachtwoord" name="wachtwoord" value="{{ docent[3] }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Opslaan</button>
        <a href="{{ url_for('admin') }}" class="btn btn-secondary">Annuleren</a>
      </form>
    </div>
  </body>
</html>
